#rss-content {
    display: block;
    width: 100%;
    height: 500px;
    margin-top: 5px;
}

#navigation {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 10px;
  width: auto;
}

.bi {
    cursor: pointer;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}