<article class="content" id="home">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=258381704207913&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="info-container">
      {% if page.single_language == nil or page.single_language == false %}
      {% if site.version == '/ru' %}
        <p class="lang-link">Ru</p>
        <a href="{{ page.url }}" class="lang-link">En</a>
      {% else %}
        <a href="/ru{{ page.url }}" class="lang-link">Ru</a>
        <p class="lang-link">En</p>
      {% endif %}
      {% endif %}
      <h1 id="title">{{ page.title }}</h1>
      <time datetime="{{ page.date | date: "%F" }}" id="date" pubdate>{{ page.date | date_to_string }}</time>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">
        {% if site.version == '/ru' %}
          Опубликовано
        {% else %}
          Published on
        {% endif %}
        {{ page.date | date_to_string }}
      </span>
    </p>
  </div>
  <div id="social-buttons">
    <g:plusone href="{{ site.url }}{{ page.url }}"></g:plusone>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ site.url }}{{ page.url }}">Tweet</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count"
         data-action="like" data-show-faces="true" data-share="false"></div>
  </div>
  <!-- AddThis Button END -->
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'nbeloglazovblog';
    var disqus_identifier = '{{ site.version }}{{ page.id }}';
    var disqus_title = '{{ page.title | remove: "'"}}';
    var disqus_url = '{{ site.url }}{{ page.url }}';

    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</article>
